<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DELI-VERY</title>
		<link rel=stylesheet type="text/css" href="css/deli-very.css">
		<script type="text/javascript" src="js\deli-very.js"></script>
		<meta charset="utf-8"/>
    </head>
    <body>
        <h1>Vegard Pettersson!!!</h1>
		<h1>A heading</h1>
		<p>A paragraph</p>
		<img src="img/ffs.jpg" alt="Girl in a jacket">
		
		<h1>A heading</h1>
		<div class="myDiv">
			<h2>This is a heading in a div element</h2>
			<p>This is some text in a div element.</p>
		</div>
		
    </body>
</html>