<!DOCTYPE html>
<html lang="en">




<head>
    <title>Page title shown in window title</title>
    <meta charset="utf-8" />

    <!-- CSS FILES -->
    <link rel="stylesheet" type="text/css" href="css/myStyle.css">

    <!-- Javascript files -->
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="js/js_script.js"></script>
    
    <!--- <script src="js/vue_script.js"></script> -->
    
</head>

<body>


    <!-- Logo and brand name here -->
    <header> </header>

    <div class="header-banner">
        <div class="g"><h1>Burger Heaven</h1></div>
        <div id="banderoller"></div>
    </div>



    <!-- Burger Selection -->
    <section class="burger-information-section">
        <main>
            <h2>Select burger</h2>
            <br>

            <div class="wrapper">
                 <div class="box burger-heading" >Supreme</div>
                 <div class="box burger-heading" >Extra cheese</div>
                 <div class="box burger-heading" >Chicken royal</div>

                <div class="box burger-img-container"><img src="img/burger1.jpeg" alt="Bacon Burger" title="Burger1" width="200px"></div>
                <div class="box burger-img-container"><img src="img/burger1.jpeg" alt="Bacon Burger" title="Burger1" width="200px"></div>
                <div class="box burger-img-container"><img src="img/burger1.jpeg" alt="Bacon Burger" title="Burger1" width="200px"></div>
                <div class="box burger-desc-text">
                    <ul>
                        <li>850 kCal</li>
                        <li>Contains <span class="emph">lactose</span></li>
                        <li>Contains <span class="emph">gluten</span></li>
                    </ul>
                </div>
                <div class="box burger-desc-text">
                    <ul>
                        <li>600 kCal</li>
                        <li>Contains <span class="emph">lactose</span></li>
                        <li>Contains <span class="emph">gluten</span></li>
                    </ul>
                </div>
                <div class="box burger-desc-text">
                    <ul>
                        <li>Chicken beef of highest quality</li>
                        <li>Extra <span class="emph"><i>spicy!</i></span></li>
                    </ul>
                </div>
            </div>
        </main>
    </section>










    <section id="contact-info">
    <!-- Custumer Info-->
    <div id="customer-information">
        <h3>Customer information</h3>
        <p>This is where you provide necessary information</p>
    </div>


    <!--Delivery info-->
    <h4>Delivery information</h4>

    <main>
            <form>
                <p>
                    <label for="firstname">Full name</label><br>
                    <input type="text" id="full-name" name="fn" required="required" placeholder="First- and Last name">
                </p>
                <p>
                    <label for="firstname">E-mail</label><br>
                    <input type="email" id="firstname" name="em" required="required" placeholder="E-mail adress">
                </p>
                <p>
                    <label for="firstname">Street</label><br>
                    <input type="text" id="firstname" name="st" required="required" placeholder="Street name">
                </p>
                <p>
                    <label for="firstname">House Number</label><br>
                    <input type="number" id="firstname" name="house" required="required" placeholder="House number">
                </p>


                <p>Payment options</p>
                <p>
                    <label for="recipient">Recipient</label><br>
                    <select id="recipient" name="rcp">
                        <option>Credit card</option>
                        <option>Swish</option>
                        <option>Pay later</option>
                    </select>
                </p>


                <!-- Buttons -->
                <p>Gender</p>
                <input type="radio" name="gender" value="male"> Male<br>
                <input type="radio" name="gender" value="female"> Female<br>
                <input type="radio" name="gender" value="Non-binary"> Non-binary<br>
                <input type="radio" name="gender" value="Undisclosed" checked> Undisclosed <br>
                <br>

            </form>
    </main>
        </section>
    

                    <!--Submit button-->
                    <button type="submit"><img src="img/send.png"> <span class="btn-text" id="send-text">Send Info</span></button>











    <hr>

    <!-- Info about contact information -->
    <footer>
        <p> &#169; Burger Inc.
    </footer>

</body>

</html>